{% load static %}
{% comment %} <div id="preloder">
    <div class="loader"></div>
</div> {% endcomment %}
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-1 col-6 order-md-1 order-1">
                </div>
                <div class="col-lg-8 col-md-10 order-md-2 order-3">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'blogs:index' %}">Home</a></li>
                            {% comment %} <li class="dropdown"><a href="#">Pages</a>
                                <ul class="dropdown__menu"> {% endcomment %}
                                    {% if user.is_authenticated %}
                                        {% comment %} {% if user.is_reader  %}
                                        <li><a href="#">Hey {{ user }}!!!</a></li>
                                        {% else %} {% endcomment %}
                                        <li><a href="#">Hey {{ user }}!!!</a></li>
                                        {% comment %} {% endif %} {% endcomment %}
                                        
                                    <li><a href="{% url 'blogs:logout' %}">Sign out</a></li>
                                    {% endif %}
                            </li>
                            
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-1 col-6 order-md-3 order-2">
                    <div class="header__search">
                        <i class="fa fa-search search-switch"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>